<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/bootstrap.js"></script>
  <title>About Us</title>
</head>

<body>
  <%- include('navbar'); -%>

  <div class="mt-7rem">
    <h1 class="card-title text-center mb-4">About Us</h1>
    <div class="d-flex justify-content-center flex-wrap">
      <div class="card m-2 w-16rem" >
        <img src="https://res.cloudinary.com/de3tvsweh/image/upload/v1744809997/TeamMember/pack_cropped_lhqupa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-2">Kittipob Bumphen</h5>
          <p class="card-text mb-1">Student ID: 6688011</p>
          <p class="card-text">Role: Database developer</p>
          <p class="card-text"><a href="https://github.com/packi124">GitHub</a></p>
        </div>
      </div>
      <div class="card m-2 w-16rem" >
        <img src="https://res.cloudinary.com/de3tvsweh/image/upload/v1744104416/TeamMember/6688018_syxiiq.jpg" class="card-img-top" alt="...">      
        <div class="card-body">
          <h5 class="card-title mb-2">Nontapath Chowaranun</h5>
          <p class="card-text mb-1">Student ID: 6688018</p>
          <p class="card-text">Role: Back-end developer</p>
          <p class="card-text"><a href="https://github.com/jigglypuffed">GitHub</a></p>
        </div>
      </div>
      <div class="card m-2 w-16rem" >
        <img src="https://res.cloudinary.com/de3tvsweh/image/upload/v1744201157/TeamMember/han_Cropped_a9qwbs.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-2">Yu-Han Huang</h5>
          <p class="card-text mb-1">Student ID: 6688027</p>
          <p class="card-text">Role: Front-end developer</p>
          <p class="card-text"><a href="https://github.com/meadowind">GitHub</a></p>
        </div>
      </div>
      <div class="card m-2 w-16rem" >
        <img src="https://res.cloudinary.com/de3tvsweh/image/upload/v1744104422/TeamMember/umu_Cropped_r363sa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-2">Dungwang Srisa-ard</h5>
          <p class="card-text mb-1">Student ID: 6688113</p>
          <p class="card-text">Role: Back-end developer</p>
          <p class="card-text"><a href="https://github.com/puggui">GitHub</a></p>
        </div>
      </div>
      <div class="card m-2 w-16rem" >
        <img src="https://res.cloudinary.com/de3tvsweh/image/upload/v1744201011/TeamMember/xinyi_vm1pzj.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title mb-2">Xinyi Chen</h5>
          <p class="card-text mb-1">Student ID: 6688232</p>
          <p class="card-text">Role: Front-end developer</p>
          <p class="card-text"><a href="https://github.com/XinyiChen232">GitHub</a></p>
        </div>
      </div>
  </div>
</body>

</html>
