<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <title>Shopping Cart</title>
</head>

<body>
  <%- include("navbar"); -%>
  <div class="container my-5">
    <%- include('flash'); -%>
    <h2 class="mb-5">Shopping Cart</h2>

    <div class="card mb-3 mx-auto" style="max-width: 720px;">
      <div class="d-flex">
        <img src="placeholder-poster.jpg" class="img-fluid rounded-start" alt="movie poster" style="width: 7rem;">
        <div class="card-body ms-3">
          <h4 class="card-title">Movie Title</h4>
          <p class="card-text bold">$39.99</p>
          <button type="button" class="btn btn-danger">Remove</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>