<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/bootstrap.js"></script>
  <title>404 Not Found</title>
</head>
<body>
  <%- include('navbar'); -%>
  <div class="row mt-7rem">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <p><%= err.stack %></p>
        </div>
    </div>
  </div>
</body>
</html>