.mt-7rem {
  margin-top: 7rem;
}

.mt-3rem {
  margin-top: 3rem;
}

.w-150px {
  width: 150px;
}

.w-135rem {
  width: 13.5rem;
}

.w-16rem {
  width: 16rem;
}

.w-30rem {
  width: 30rem;
}

.w-20rem {
  width: 20rem;
}


.fw-500 {
  font-weight: 500;
}

.h-80vh {
  height: 80vh;
}
.h-64px {
  height: 64px;
}
.h-20rem {
  height: 20rem;
}